{
    "name": "{{scheme-slug}}",
    "title": "Base16 - {{scheme-name}}",
    "description": "Brackets version of {{scheme-name}} base16 theme, scheme by {{scheme-author}}",
    "homepage": "https://github.com/liam-armstrong/brackets-base16-template",
    "version": "1.0.0",
    "author": "Liam Armstrong (https://github.com/liam-armstrong)",
    "license": "MIT",
    "theme": {
        "file": "{{scheme-name}}.less",
        "dark": true,
        "addModeClass": true
    },
    "keywords": ["theme","base16","dark","default","text","fork","css"]
}